# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Operating System
.DS_Store
Thumbs.db

# Collected static files
staticfiles/