{% extends "base.html" %}

{% block title %}
{{ program.name }} | Subjects | SmartExam
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-start mb-4">

    <div>

        <a href="{% url 'institute_program_list' %}"
           class="text-decoration-none">
            ← Back to Programs
        </a>

        <h1 class="fw-bold mt-3 mb-1">
            {{ program.name }}
        </h1>

        <p class="text-muted mb-0">
            Subjects of {{ request.user.institute.name }}
        </p>

    </div>

    <div class="mt-4">

        <a href="{% url 'institute_subject_create' program.id %}"
            class="btn btn-primary">
            + Add Subject
        </a>

    </div>

</div>

    {% if subjects %}

        <div class="card shadow border-0 rounded-3">
            <div class="card-body p-0">

                <div class="table-responsive">

                    <table class="table table-hover mb-0">

                        <thead>
                            <tr>
                                <th>Subject Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for subject in subjects %}

                                <tr>
                                    <td class="fw-semibold">
                                        <a href="{% url 'institute_subject_chapter_list' program.id subject.id %}">
                                            {{ subject.name }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ subject.description|default:"—" }}
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>
        </div>

    {% else %}

        <div class="card shadow border-0 rounded-3">
            <div class="card-body p-5 text-center">

                <h4 class="fw-bold">
                    No Subjects Yet
                </h4>

                <p class="text-muted">
                    No subjects have been created for this program.
                </p>

            </div>
        </div>

    {% endif %}

</div>

{% endblock %}