{% extends "base.html" %}

{% block title %}
Home - SmartExam
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4">
        Welcome to SmartExam
    </h1>

    <p class="lead">
        A Smart Online Examination System built with Django.
    </p>

    <hr>


    <a href="{% url 'student_login' %}" class="btn btn-primary btn-lg">
        Student Login
    </a>

    <a href="#" class="btn btn-success btn-lg">
        Admin Login
    </a>

</div>

{% endblock %}